body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #353531;
   /* background-image: url("../public/backgroung.png"); */
   background-image: url("../public/rose.jpg");
   background-repeat: repeat;
  background-size: 420px auto;   /* adjust size */
  background-attachment: fixed;
}


body.goldrush-page {
  background: #ffffff; /* pure white */
  background-image: url("./assests/background/rules.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;          /* ✅ fills entire screen */
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
