frontend/src/QueueManagement.css

/* Make the table area fit inside the visible window height */
.qm-tableViewport {
  overflow: auto;               
  -webkit-overflow-scrolling: touch;
  
}

/* Keep table size normal on desktop */
.qm-tableScale {
  /* width: max-content;            */
  transform-origin: top left;
}

/* Scale down progressively on smaller widths so ALL columns fit */
@media (max-width: 1400px) {
  .qm-tableScale {
    transform: scale(1);
  }
}

@media (max-width: 1200px) {
  .qm-tableScale {
    transform: scale(0.95);
  }
}

/* @media (max-width: 1000px) {
  .qm-tableScale {
    transform: scale(0.67);
  }
} */
@media (max-width: 1160px) {
  .qm-tableScale {
    transform: scale(0.90);
  }
}
@media (max-width: 1100px) {
  .qm-tableScale {
    transform: scale(0.85);
  }
}
@media (max-width:1050px) {
  .qm-tableScale {
    transform: scale(0.80);
  }
}
@media (max-width: 1000px) {
  .qm-tableScale {
    transform: scale(0.74);
  }
}
@media (max-width:950px) {
  .qm-tableScale {
    transform: scale(0.70);
  }
}
@media (max-width: 900px) {
  .qm-tableScale {
    transform: scale(0.66);
  }
}
@media (max-width: 850px) {
  .qm-tableScale {
    transform: scale(0.62);
  }
}
@media (max-width: 790px) {
  .qm-tableScale {
    transform: scale(0.58);
  }
}
@media (max-width: 745px) {
  .qm-tableScale {
    transform: scale(0.54);
  }
}
@media (max-width: 700px) {
  .qm-tableScale {
    transform: scale(0.50);
  }
}
@media (max-width: 660px) {
  .qm-tableScale {
    transform: scale(0.45);
  }
}
@media (max-width: 600px) {
  .qm-tableScale {
    transform: scale(0.40);
  }
}

@media (max-width: 1200px) {
  .qm-tableViewport {
    width: 100%;

  }
}
