frontend/src/QueueManagement.css

/* Make the table area fit inside the visible window height */
.qm-tableViewport {
  overflow: auto;               
  -webkit-overflow-scrolling: touch;
  
}

/* Keep table size normal on desktop */
.qm-tableScale {
  /* width: max-content;            */
  transform-origin: top left;
}

/* Scale down progressively on smaller widths so ALL columns fit */
@media (max-width: 1400px) {
  .qm-tableScale {
    transform: scale(1);
  }
}

@media (max-width: 1200px) {
  .qm-tableScale {
    transform: scale(0.95);
  }
}

/* @media (max-width: 1000px) {
  .qm-tableScale {
    transform: scale(0.67);
  }
} */
@media (max-width: 1030px) {
  .qm-tableScale {
    transform: scale(0.90);
  }
}
@media (max-width: 970px) {
  .qm-tableScale {
    transform: scale(0.84);
  }
}
@media (max-width: 900px) {
  .qm-tableScale {
    transform: scale(0.70);
  }
}
@media (max-width: 760px) {
  .qm-tableScale {
    transform: scale(0.60);
  }
}
@media (max-width: 700px) {
  .qm-tableScale {
    transform: scale(0.46);
  }
}
@media (max-width: 650px) {
  .qm-tableScale {
    transform: scale(0.43);
  }
}
@media (max-width: 600px) {
  .qm-tableScale {
    transform: scale(0.40);
  }
}

@media (max-width: 1200px) {
  .qm-tableViewport {
    width: 100%;

  }
}
